body {
    font-family: Arial, sans-serif;
}

.question__container {

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;
}

.question__container .question {
    display: block;

    font-family: Arial, sans-serif;
    font-size: 16px;

    margin: 20px;
}

.question__container button {
    margin: 10px;

    font-size: 24px;

    cursor: pointer;
}

.question__container .type {
    font-size: 32px;
    margin: 20px;
    text-transform: capitalize;
}